/****************************
* Custom CSS
* author: John Romero
*****************************/
body {
    background-image: url(frogballoon.jpg);
    background-repeat-y: no-repeat;
    background-size: 65rem;
}

/****************************
* NAVBAR
*****************************/
.bg-light {
    background-color: #0d2944 !important;
    font-size: larger;
    max-width: none;
    font-weight: 600;
}
.navbar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
/****************************
* CUSTOM BOOTSTRAP OVERRIDES
*****************************/

/****************************
* ABOUT ME
*****************************/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 5px;
    margin-block-end: auto;
    font-size: larger;
    font-weight: 700;
    font-optical-sizing: auto;
    font-family: -webkit-pictograph;
    font-style: oblique;
    font-size: x-large;
}
h5 {
    margin: auto;
    height: auto;
    padding-left: 90px;
    display: block;
    font-size: xx-large;

}
/*************************
Medicare Basics and information
************************/
.w-100 {
    */ width: 100% !important;
    max-width: 300px;
    max-height: auto;
    padding: 100px;
    margin: auto;
    margin-bottom: 200px;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-bottom: 10px;
    margin-top: auto;
    padding-top: 200px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 300px;
    bottom: 160px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: cente;
    width: 0px;
    max-height: fit-content;
    color: lightseagreen;
    text-align: center;
    opacity: .30;
    transition: opacity .20s ease;
    padding-top: 300px;
    background-color: navy;
    font-size: larger;
    font-weight: 400;
}
.carousel-item {
    position: inherit;
    display: none;
    float: none;
    width: 100%;
    max-width: 200px;
    margin-right: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    background-color: blue;
    font-size: xx-large;
}
/****************************
    * Medicare Choices
*****************************/
    .btn-secondary {
   background-image: url("yellowballoon.jpg");
        border: 1px black;
    }

.h2, h2 {
    font-size: 61px;
    margin: -10px;
    font-style: oblique;
    font-family: -webkit-body;
    text-align: center;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin: 10px;
}
/****************************
* IMAGES
*****************************/
.About-Me img {
    float: left;
    width: 90;
    margin-right: 4em;
    border-style: double;
    margin: 60px;
    max-height: 500px
}


img {
    vertical-align: middle;
    border-style: none;
    width: 180px!important;
}

.mb-3, .my-3 {
    margin-bottom: 40rem!important;
}
/****************************
* CONTACT FORM Section
*****************************/
.p-5 {
    padding: 15px;
    margin: 50px;
    background-color: teal;
    font-family: inherit;
}
*, ::after, ::before {
    box-sizing: content-box;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(1rem + 2px);
    margin-bottom: -4px;
    font-size: x-large;
    line-height: 1.5;
    font-style: normal;
    min-inline-size: -webkit-fill-available;
    font-weight: bold;
}
.form-check-label {
    margin-bottom: 1;
    font-size: larger;
    font-weight: 600;
}
/****************************
* send email button
*************************/
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: black;
    margin-bottom: 150px;
    padding: 25px;
}
.btn {
    display: table-row-group;
    font-weight: 400;
    color: #212529;
    text-align: unset;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid black;
    padding: 1.25px 2.50px;
    margin: 23px;
    font-size: 1.10rem;
    line-height: 1.5;
    border-radius: 2.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
/****************************
* GLOBAL STYLES--- items that are big changes. change multiple things.
*****************************/
/****************************
* FOOTER
*****************************/
.h4, h4 {
    color: yellow;
    font-size: xx-large;
    align-content: center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: cornsilk;
    font-size: x-large;
    font-weight: 400;
    font-family: serif;
    min-inline-size: auto;
}