body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.h5, h5 {
    font-size: 3.25rem;
    font-family: sans-serif;
}
/* Links inside the navbar */
.navbar {
    overflow: hidden;
    background-color: dodgerblue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: dodgerblue;
}
/* Main content */
.main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}